@tailwind base;
@tailwind components;
@tailwind utilities;

/* global scroller tailwind class list */
/* 
[&::-webkit-scrollbar]:w-[6px] [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:transparent [&::-webkit-scrollbar-thumb]:bg-transparent group-hover:[&::-webkit-scrollbar-thumb]:bg-gray-400 dark:[&::-webkit-scrollbar-thumb]:bg-transparent group-hover:dark:[&::-webkit-scrollbar-thumb]:bg-gray-700
*/

@layer base {
    :root {
        --breakpoint-mobile: 640px; /* Typical mobile devices */
        --breakpoint-sm: 1024px; /* For 1024 × 768 */
        --breakpoint-md: 1280px; /* For 1280 × 1024 */
        --breakpoint-lg: 1366px; /* For 1366 × 768 */
        --breakpoint-xl: 1440px; /* For 1440 × 900 */

        --white: #ffffff;
        --black: #000000;

        /* Gray Colors (formerly Neutral) */
        --gray-50: #f9fafb;
        --gray-100: #f3f4f6;
        --gray-200: #e5e7eb;
        --gray-300: #d1d5db;
        --gray-400: #9ca3af;
        --gray-500: #6b7280;
        --gray-600: #4b5563;
        --gray-700: #384151;
        --gray-800: #1f2937;
        --gray-900: #111827;

        /* Blue Colors (formerly Primary) */
        --blue-50: #f0f5ff;
        --blue-100: #dce7fe;
        --blue-200: #bed3fe;
        --blue-300: #91b5fd;
        --blue-400: #6194fa;
        --blue-500: #3b7af7;
        --blue-600: #316fed;
        --blue-700: #1d5bd6;
        --blue-800: #1e4eae;
        --blue-900: #1e428a;

        /* Sky Colors */
        --sky-50: #f0f9ff;
        --sky-100: #e0f2fe;
        --sky-200: #bae6fd;
        --sky-300: #7ed4fc;
        --sky-400: #3abff8;
        --sky-500: #0da2e7;
        --sky-600: #0284c5;
        --sky-700: #0369a0;
        --sky-800: #075783;
        --sky-900: #0c4a6e;

        /* Amber Colors */
        --amber-50: #fffbeb;
        --amber-100: #fef3c8;
        --amber-200: #fde68b;
        --amber-300: #fcd44f;
        --amber-400: #fbbd23;
        --amber-500: #f59f0a;
        --amber-600: #db7706;
        --amber-700: #b35309;
        --amber-800: #91400d;
        --amber-900: #76350f;

        /* Green Colors */
        --green-50: #f2fdf5;
        --green-100: #defce9;
        --green-200: #bbf7d0;
        --green-300: #85efac;
        --green-400: #4ade80;
        --green-500: #21c45d;
        --green-600: #16a249;
        --green-700: #157f3c;
        --green-800: #166434;
        --green-900: #14522d;

        /* Red Colors */
        --red-50: #fef1f1;
        --red-100: #fee1e1;
        --red-200: #fec8c8;
        --red-300: #fca6a6;
        --red-400: #f87272;
        --red-500: #ef4343;
        --red-600: #dc2828;
        --red-700: #ba1c1c;
        --red-800: #981b1b;
        --red-900: #811d1d;

        --blue-transparent-50: rgba(97, 148, 250, 0.5);
        --blue-transparent-20: rgba(97, 148, 250, 0.2);
        --gray-transparent-50: rgba(31, 41, 55, 0.5);

        /* ShadCN light theme variable. ShadCN default values override with above defined colors */
        --background: var(--white);
        --foreground: var(--gray-900);
        --card: var(--white);
        --card-foreground: var(--gray-900);
        --popover: var(--white);
        --popover-foreground: var(--gray-900);
        --primary: var(--blue-600);
        --primary-foreground: var(--white);
        --secondary: var(--gray-100);
        --secondary-foreground: var(--gray-900);
        --muted: var(--gray-100);
        --muted-foreground: var(--gray-500);
        --accent: var(--gray-50);
        --accent-foreground: var(--gray-900);
        --destructive: var(--red-500);
        --destructive-foreground: var(--white);
        --border: var(--gray-200);
        --input: var(--gray-200);
        --ring: var(--blue-600);
        --radius: 0.5rem;
        --chart-1: var(--amber-500);
        --chart-2: var(--green-500);
        --chart-3: var(--sky-700);
        --chart-4: var(--amber-400);
        --chart-5: var(--amber-500);
    }

    /* Dark Mode Configuration */
    .dark {
        --background: var(--gray-900);
        --foreground: var(--white);
        --card: var(--gray-900);
        --card-foreground: var(--white);
        --popover: var(--gray-900);
        --popover-foreground: var(--white);
        --primary: var(--blue-500);
        --primary-foreground: var(--white);
        --secondary: var(--gray-800);
        --secondary-foreground: var(--white);
        --muted: var(--gray-800);
        --muted-foreground: var(--gray-400);
        --accent: var(--gray-800);
        --accent-foreground: var(--white);
        --destructive: var(--red-700);
        --destructive-foreground: var(--white);
        --border: var(--gray-800);
        --input: var(--gray-800);
        --ring: var(--blue-500);
        --chart-1: var(--blue-500);
        --chart-2: var(--green-500);
        --chart-3: var(--amber-500);
        --chart-4: var(--sky-500);
        --chart-5: var(--red-500);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
            Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

/* Global CSS classes */
.sidebar-gradient {
    background: rgb(30, 91, 214);
    background: linear-gradient(0deg, rgba(30, 91, 214, 1) 62%, rgba(82, 113, 230, 1) 100%);
}

.transparent-input {
    background-color: var(--blue-transparent-50);
    border: 1px solid var(--blue-transparent-50);
}

.selected-menu-bg {
    background-color: var(--blue-transparent-20);
    border: 1px solid var(--blue-400);
}

.selected-menu-bg-dark {
    background-color: var(--gray-transparent-50);
    border: 1px solid var(--gray-800);
}

.dashboard-header-bg-gradient {
    background: rgb(82, 113, 230);
    background: linear-gradient(90deg, rgba(82, 113, 230, 1) 50%, rgba(29, 91, 214, 1) 100%);
}

/* Use this area if you want to override CSS rule */
[data-vaul-drawer][data-vaul-drawer-direction='right']::after {
    background: transparent !important;
}

[data-vaul-drawer][data-vaul-drawer-direction='bottom']::after {
    background: transparent !important;
}

.resize-none {
    resize: none;
}

@keyframes pulseBackground {
    0% {
        background: radial-gradient(
            circle,
            rgba(59, 130, 246, 0.3) 0%,
            rgba(29, 78, 216, 0.7) 50%,
            rgba(17, 24, 39, 1) 100%
        );
    }
    50% {
        background: radial-gradient(
            circle,
            rgba(59, 130, 246, 0.5) 0%,
            rgba(29, 78, 216, 0.9) 50%,
            rgba(17, 24, 39, 1) 100%
        );
    }
    100% {
        background: radial-gradient(
            circle,
            rgba(59, 130, 246, 0.3) 0%,
            rgba(29, 78, 216, 0.7) 50%,
            rgba(17, 24, 39, 1) 100%
        );
    }
}

.animate-pulse-gradient {
    animation: pulseBackground 4s ease-in-out infinite;
}

.sticky {
    position: sticky;
}

.drawer-overflow {
    overflow: hidden;
    overflow-y: auto;
}

.custom-overflow-x-auto {
    overflow: hidden;
    overflow-x: auto;
}

.custom-overflow-auto {
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}

.multi-option {
    background-color: unset !important;
}

.dark .multi-option:hover {
    color: black;
}

.multi-option:hover {
    background-color: #99c8ff !important;
}

.multi-option:hover span {
    color: rgba(73, 64, 79, 255) !important;
}

.invisible {
    visibility: hidden;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.scrollable_effect_multi_browser_without_thumb {
    position: absolute;
    /* Set the width and color of the scrollbar track */
    &::-webkit-scrollbar {
        width: 12px;
        opacity: 0.8;
        /* add transition */
    }

    /* Set the color and radius of the scrollbar thumb */
    &::-webkit-scrollbar-thumb {
        background-color: #a9aaaddd;
        border-radius: 5px;
    }
}

.custom-drawer-content {
    width: 50%;
}

@media (max-width: 768px) {
    .custom-drawer-content {
        width: 100%;
    }
}

.sidebar-menu-item:not(.selected):hover {
    border-left-color: var(--blue-200) !important;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

.vault-select {
    border-radius: 8px 0px 0px 8px;
}

.new-vault-select {
    border-radius: 0px 8px 8px 0px;
}

.popover-svg-container svg {
    @apply size-6;
}

.edge-editor .cm-tooltip-autocomplete {
    width: 300px !important;
    left: auto !important;
    right: auto !important;
}

.edge-editor .cm-tooltip-autocomplete > ul > li[aria-selected='true'] {
    @apply bg-blue-500 text-white;
}

.monaco-editor {
    height: 100% !important;
    outline-style: none !important;
}

.monaco-editor .overflow-guard {
    width: 100% !important;
}

.w-fill-available {
    width: -webkit-fill-available;
}

.break-all {
    word-break: break-all;
}

.left-box .link {
    color: var(--blue-200);
}

@keyframes dotFade {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes borderGradient {
    0% {
        border-color: #3b82f6;
    }
    25% {
        border-color: #60a5fa;
    }
    50% {
        border-color: #93c5fd;
    }
    75% {
        border-color: #85efac;
    }
    100% {
        border-color: #3b82f6;
    }
}
